{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": [
    "@digitalvisioncz/eslint-config-base",
    "@digitalvisioncz/eslint-config-react"
  ],
  "rules": {}
}
